body {
    font-family: Ubuntu;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(shopping.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background: bisque;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(248, 157, 0, 0.119);
    width: 300px;
}

h1 {
    text-align: center;
    color: brown;
}

#item-input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: bisque;
    color: tomato;
}

#shopping-list {
    list-style-type: none;
    padding: 0;
}

#shopping-list li {
    padding: 10px;
    background: bisque;
    color: tomato; 
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#shopping-list li.purchased {
    text-decoration: line-through;
    background: tan;
}